<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dh001.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,192},{76,72}}</string>
                <key>offset</key>
                <string>{23,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,109},{76,72}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,368},{116,140}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{116,140}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,366},{114,150}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{114,150}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{110,160}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{110,160}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,194},{104,172}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{104,172}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,194},{102,184}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{102,184}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,190}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{106,190}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{106,190}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{106,190}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,190}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{106,190}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh002.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,114},{86,76}}</string>
                <key>offset</key>
                <string>{24,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,107},{86,76}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,114},{92,78}}</string>
                <key>offset</key>
                <string>{24,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,106},{92,78}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh004.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,266},{98,80}}</string>
                <key>offset</key>
                <string>{23,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,105},{98,80}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh005.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,210},{102,80}}</string>
                <key>offset</key>
                <string>{23,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,106},{102,80}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh006.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,114},{108,94}}</string>
                <key>offset</key>
                <string>{21,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,92},{108,94}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh007.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{110,106}}</string>
                <key>offset</key>
                <string>{20,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,80},{110,106}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{112,118}}</string>
                <key>offset</key>
                <string>{18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,67},{112,118}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>dh009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,380},{114,130}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,55},{114,130}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daosui.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05c9229c58e1c0cd7e1ec15abe09b4eb:1/1$</string>
            <key>textureFileName</key>
            <string>daosui.png</string>
        </dict>
    </dict>
</plist>
