<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,278},{50,42}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,102},{50,42}}</string>
                <key>sourceSize</key>
                <string>{198,156}</string>
            </dict>
            <key>d02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,204},{72,92}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,57},{72,92}}</string>
                <key>sourceSize</key>
                <string>{198,156}</string>
            </dict>
            <key>d03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{194,142}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{194,142}}</string>
                <key>sourceSize</key>
                <string>{198,156}</string>
            </dict>
            <key>d04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{194,152}}</string>
                <key>sourceSize</key>
                <string>{198,156}</string>
            </dict>
            <key>d05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,146},{192,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,156}}</string>
                <key>sourceSize</key>
                <string>{198,156}</string>
            </dict>
            <key>d06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{188,152}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{188,152}}</string>
                <key>sourceSize</key>
                <string>{198,156}</string>
            </dict>
            <key>d07.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,304},{150,144}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{150,144}}</string>
                <key>sourceSize</key>
                <string>{198,156}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,322},{137,147}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{137,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{143,145}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{143,145}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,450},{131,145}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{131,145}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{141,139}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{141,139}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{105,121}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{105,121}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>z1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,592},{127,129}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{127,129}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>z2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,583},{131,135}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{131,135}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>z3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,461},{137,129}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{137,129}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>z4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{123,133}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{123,133}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>z5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,716},{127,127}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{127,127}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>z6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{127,125}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{127,125}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>z7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,125},{77,99}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{77,99}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c3b20c1169f37e29e3444f36030770a:1/1$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
